// app global css in Sass form
:root 
  --box-shadow: 0 0 8px rgba(0,0,0,.3) 
  --light-gray : lightgray
  --gray: #424242
  
html, body
    width: 100%
    height: 100%
    overflow: hidden

.content_wrapper
  margin-bottom: 60px

.cards_wrapper
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  list-style: none
  li
    background: white
    padding: 8px 12px
    border-radius: 12px
    margin-top: 8px
    margin-right: 8px
    box-shadow: var(--box-shadow)

.cards_tags_wrapper  
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  align-content: center
  list-style: none
  li
    display: flex
    justify-content: center
    align-items: center
    min-width: 80px
    background: white
    padding: 6px 8px
    border-radius: 12px
    margin-top: 8px
    margin-right: 8px
    box-shadow: var(--box-shadow)

.card_default
  background: transparent !important 
  border: none
  border-right: 1px solid var(--light-gray)
  border-radius:  0
  padding-right: 8px

.card_tags_default
  background: transparent !important 
  margin-left: 8px
  margin-right: 8px
  width: 300px
  border: none

.item_card
  width: 270px
  padding: 4px 6px
  border: none !important
  max-width: 230px


  box-shadow: var(--box-shadow) !important
  
.q-card__section--vert
  padding: 6px

.content_wrapper
  display: flex
  & img 
    width: 26%
    border: 2px solid white
    height: 100%

.card_actions 
  min-width: 42px
  min-height: 39px
  margin-top: 20px !important
  margin-left: -14px !important
 
.panel_wrapper 
  & .q-tab-panel
    height: 100%
    width: 100%
    min-height: 300px !important
  & .q-tabs__content--align-justify .q-tab 
    flex: 1 1 auto
    border: 1px solid var(--light-gray)

.q-tab__indicator 
  height: 4px !important
  margin-bottom: -1px